{% extends 'base.html' %}
{% block body %}
    <!--Sigin-->
    <div class="container">
        <div class="sign-in">
            <h2>Sign in to continue</h2>
            <form method="post" action="{%  url 'UserSignin'  %}">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter your name" required>
                <input type="text" name="phone" placeholder="Enter your phone number" required>
                <input type="text" name="college" placeholder="Enter your college" required>
                <select name="quiz" id="quiz">
                    <option value="--">Select the quiz</option>
                    {% for quiz in quiz_list %}
                        <option value="{{ quiz.id }}">{{ quiz.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}


{#<form method="post" action="{%  url 'UserSignin' %}">#}
{##}
{#     {% csrf_token %}#}
{#  User name:<br>#}
{#  <input type="text" name="username"><br>#}
{#  User password:<br>#}
{#  <input type="password" name="password">#}
{#    <input type="submit">#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}