{% extends 'base.html' %}
{% block body %}
    <!--Sigin-->
    <div class="container">
        <div class="sign-in">
            <h2>Sign in to continue</h2>
            <form method="post" action="{%  url 'UserSignin'  %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter your phone number" required>
                <input type="password" name="password" placeholder="Enter your password" required>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}


{#<form method="post" action="{%  url 'UserSignin' %}">#}
{##}
{#     {% csrf_token %}#}
{#  User name:<br>#}
{#  <input type="text" name="username"><br>#}
{#  User password:<br>#}
{#  <input type="password" name="password">#}
{#    <input type="submit">#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}