form select{
    padding: 0.5em 0.5em 0.5em 1em;
    width: 91%;
    margin: 2em 0 2em 1em;
    border-radius: 5px;
}
.sign-in{
    box-shadow: 0 0 1px #0000008c;
    border-radius: 5px;
}
.sign-in h2{
    padding: 4%;
    background-color: lightblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.error{
    background: coral;
    color: white;
    padding:2%;
}

input[type=submit]{
    cursor: pointer;
    width: 50%;
    left: 25%;
    position: relative;
}